html, body { margin: 0; padding: 0; height: 100%; background-color: rgb(1, 5, 10); }
* { font-family: sans-serif;}

@media screen and (min-width: 721px){
    .content { width: 25%; }
}

@media screen and (max-width: 720px){
    .content { width: 50%; }
}

@media screen and (max-width: 480px){
    .content { width: 70%; }
}

.content {  display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: rgb(1, 11, 22); padding: 2%; }
.content h1 { color: #fff; font-size: 1.5em; text-align: center; display: block;}

.content form input[type="email"], .content form input[type="password"], .content form input[type="text"] { transition: 0.25s; width: 80%; border-radius: 24px; padding: 2% 0; text-align: center; outline: none; color: #fff; font-size: 1em; background-color: transparent; border: 2px solid #2c819d; margin: 2% auto 0; display: block; }
.content form input[type="email"]:focus, .content form input[type="password"]:focus, .content form input[type="text"]:focus { width: 100%;  border: 2px solid #e0d5a0;}
.content form input[type="submit"] { outline: none; transition: 0.5s; display: block; margin: 4% auto 0; width: 40%; padding: 4%; border-radius: 24px; font-size: 1em; background-color: #181818; color: #2c819d; cursor: pointer; border: 0; }
.content form input[type="submit"]:hover { background-color: #2c819d; color: #fff; }