body, html { margin: 0; padding: 0; height: 0; }
* { font-family: sans-serif; }

@media screen and (min-width: 721px){
    /* interface */
    #interface { margin: 5% 0; }

    #logo { width: 10%; }

    #left-content { width: 20%; float: left; }

    #right-content { width: 70%; float: right; }

    #profile-agendar, #agendar-delete { width: 15%; padding: 1%; }

    #agendar-content { width: 40%; }
}

@media screen and (max-width: 720px){
    /* interface */
    #interface { margin: 12% 0; }

    #logo { width: 20%; }

    #left-content { width: 40%; display: block; margin: auto; }

    #right-content { width: 95%; display: block; margin: 3% auto;}

    #profile-agendar, #agendar-delete { width: 20%; padding: 2%; }

    #agendar-content { width: 50%; }
}

@media screen and (max-width: 480px){
    /* interface */
    #interface { margin: 15% 0; }

    #logo { width: 20%; }

    #left-content { width: 50%; display: block; margin: auto; }

    #right-content { width: 95%;  display: block; margin: 5% auto; }

    #profile-agendar, #agendar-delete { width: 30%; padding: 2%; }

    #agendar-content { width: 70%; }
}
/* menu */
#menu { background-color: #1c4a59; }


/* logo */
#logo { display: block;  margin: 0 auto 4%;}

h1 { font-size: 1.4em; text-align: center; display: block;}

/* left content */
#left-content {  box-shadow: 0px 1px 4px #ccc; padding: 2%;}
#left-content h1 { text-align: center; margin-left: 2%; font-size: 1.3em; color: #242424; font-weight: 700; }
#profile-image { width: 30%; border-radius: 50%; display: block; margin: 0 auto 2%;}
/* buttons */
#left-content button { cursor: pointer; transition: 0.5s; width: 80%; display: block; margin: 2% auto; border: 0; border-radius: 24px; padding: 4%; outline: none;}
#left-content #delete-account { background-color: rgb(117, 39, 39); color: #fff;}
#left-content #delete-account:hover { background-color: #242424; color: rgb(117, 39, 39); }
#left-content #logout-button { background-color: #2c819d; color: #fff;}
#left-content #logout-button:hover { background-color: #242424; color: #2c819d;}

/* table */
table { font-size: 1em; border: 1px solid #242424; width: 80%; margin: auto; table-layout: fixed; text-align: center; border-spacing: 0; }
table #titles { background-color: #2c819d; color: #fff;}
table tr { transition: 0.25s;}
table tr:hover { background-color: rgb(194, 194, 194); }
table td { cursor: pointer; width: calc(25%); border: 1px solid #242424; padding: 1% 0; }
.selected-item { background-color: #c7f0fc !important;}

/* buttons */
#buttons { display: flex; flex-direction: row; margin-top: 2%; justify-content: center; }

#profile-agendar, #agendar-delete { outline: none; transition: 0.5s; font-size: 1em; cursor: pointer;  margin: 1%; color: #fff; background-color: #1c4a59;  border: 0; border-radius: 24px; }
#profile-agendar:hover { background-color: #242424; color: #2c819d; }
#agendar-delete:hover { background-color: #242424; color: rgb(117, 39, 39); }

#agendar-delete { display: none; background-color: rgb(117, 39, 39);}

/* agendar content */
#agendar-content {display: none; margin: 3% auto; border: 1px solid #ccc; padding: 2%; border-radius: 24px; box-shadow: 1px 1px 4px #ccc; }
#agendar-content a#title { display: block; text-align: center; color: #242424; font-size: 1.2em; font-weight: 700; padding: 2%; }
#agendar-content label { display: block; margin-top: 4%;}
#agendar-content select { border-radius: 24px; margin-top: 1%; transition: 0.5s; width: 100%; border: 1px solid #ccc; padding: 2% 0; text-align-last:center; outline: none; cursor: pointer;}
#agendar-content select:hover { color: #2c819d; border: 1px solid #2c819d; }

/* buttons */
#agendar-content #agendar-buttons { display: flex; flex-direction: row; margin-top: 2%; justify-content: center;}
#agendar-content button { outline: none; transition: 0.5s; font-size: 1em; cursor: pointer; width: 30%; padding: 2%; border: 0; border-radius: 24px; background-color: #1c4a59; margin: 2%; color: #fff; }
#agendar-content button#agendar-comfirm:hover { background-color: #242424; color: rgb(18, 110, 18); }
#agendar-content button#agendar-cancel:hover { background-color: #242424; color: rgb(117, 39, 39); }